/* Non-responsive. */
body {
  display: grid;
  font-family: "Lexend Deca", sans-serif;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(5, 550px);
  margin: 0 auto;
  width: 1200px;
}

body section {
  border: solid thin black;
}

/* Style everything scoped to your <section> id! You do not need to use `display: grid` - just stick with the things we learned in class and be creative. `font-family` is already done for you.

Be sure to take pride in your work and organize your styles properly and resolve any 'red lines.'
*/
#student-6 header {
  display: flex;
  background: #ff0000;
  justify-content: space-around;
}

#student-6 img {
  width: 125px;
}

#student-6 h1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  font-weight: bolder;
  color: #ffffff;
  font-size: 21px;
}

#student-6 h2 {
  text-align: center;
}

#student-6 .help {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #ffffff;
}

#student-6 p {
  font-weight: bolder;
  font-size: 18px;
  text-transform: capitalize;
}

#student-6 li {
  font-weight: bolder;
}

#student-6 ol {
  /* align-content: center; */
  border: 5px solid #ff0000;
  background: #ff0;
}

#student-6 a {
  font-size: 12px;
  font-weight: bold;
}
